.btn{
  padding-left: 60px;
 
}
.Create-plan{
 background-color: #0E8784;
  color: #FEFCF7;
  width: 217px;
  height: 56px;
  flex-shrink: 0;
  color: #FEFCF7;
  text-align: center;
  font-family: Fraunces;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  border-radius: 6px;
}

.Create-plan:hover {
 background-color: #66D2CF;
 color: #FEFCF7;
}
