.footer {
  max-width: 1280px;
  height: 120px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #2C353E;
  display: flex;
  color: whitesmoke;
  padding: 20px;
}
.footer-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}




.buttons{
  display: flex;
  gap: 20px;
}

.logo {
  cursor: pointer;
}

.buttons button {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; 
  letter-spacing: 0.923px;
  text-transform: uppercase;
  color: #83888F !important;
}

.buttons button:hover {
  color: #FEFCF7 !important;
}

.social {
  display: flex;
  gap: 20px;
  width: 120px;
  height: 24px;
}


.social .fa:hover {
  color: #E7C4A9;
}

.footer .mat-toolbar:hover .socialmedia {
  cursor: pointer;
  fill: #E8C4AA;
}



@media (max-width: 768px) {
  .footer {
    max-width: 688px;
    height: 270px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-top: 50px;
  }


  .footer-logo img {
    margin-top: 54px;
  }

  .example span {
    display: none;
  }

 .social {
    margin: 0;
    margin-bottom: 25px;
  }
}
